<h2>How to connect</h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Register for an Arena Tournament account
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      <a routerLink="/register" target="_blank">Click here</a> to register a new
      account with Arena Tournament. A unique username, email, and password is
      required to register. This username and password will be used to login to
      the game and this website.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Download the World of Warcraft client </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Click the download buttons below to download the client for your system
    </p>
    <p>World of Warcraft 3.3.5a</p>
    <p>~18.0 GB</p>
    <p>
      Windows
      <span style="padding: 5px">
        <a
          mat-raised-button
          color="primary"
          target="_blank"
          href="http://download.wowdl.net/us/clients/client_3.3.5.zip"
        >
          Download Windows direct</a
        >
      </span>
      <span style="padding: 5px">
        <a
          mat-raised-button
          color="primary"
          target="_blank"
          href="https://mega.nz/folder/jPIUFArR#iVHWu5AUz9s6-lCSYPHMfw"
        >
          Download Windows mega.nz</a
        >
      </span>
      <span style="padding: 5px">
        <a
          mat-raised-button
          color="primary"
          target="_blank"
          href="magnet:?xt=urn:btih:5B65D1928A3025A820B45E6DB2451AAAABC5347C&dn=World%20of%20Warcraft%203.3.5a&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce"
        >
          Download Windows torrent</a
        >
      </span>
    </p>
    <p>
      MacOS
      <span style="padding: 5px">
        <a
          mat-raised-button
          color="primary"
          target="_blank"
          href="https://download.sunwell.pl/WoW-3.3.5-Mac.zip"
        >
          Download MacOS direct</a
        >
      </span>
    </p>
    <p>Addons</p>
    <ul>
      <li>
        <a href="https://wotlkdb.com/addons">https://wotlkdb.com/addons</a>
      </li>
      <li>
        <a href="https://github.com/wotlk-addons"
          >https://github.com/wotlk-addons</a
        >
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Set realmlist to Arena Tournament servers
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Once you have downloaded and extracted the 3.3.5a client open its folder
      with wow.exe.
    </p>
    <p>Open the Data folder, then the enUS, enGB, or enDE folder.</p>
    <img class="codeBox noPadding" width="450px" src="../../assets/reamlist_pic.png" />
    <p>Edit the realmlist.wtf file with a text editor so it reads</p>
    <p><span class="codeBox">set realmlist logon.arena-tournament.net</span></p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Login and play Arena Tournament </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Launch wow.exe if using windows or World of Warcraft.app on MacOS.</p>
    <p>Login using the username and password registered in the first step.</p>
  </mat-expansion-panel>
</mat-accordion>
