/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    min-width: 800px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  min-height: 5px !important;
}

strong {
  font-weight: 500;
}

.centered {
    display: block !important;
    margin: auto;
    width: 90%;
}

.full-width {
    width: 100%;
}

input:-internal-autofill-selected {
    box-shadow:0 0 0 50px #424242 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.scale15 {
    transform: scale(1.5);
}

.disabled {
    pointer-events:none;
  }

  /* unvisited link */
a:link {
  color: rgb(71, 215, 247);
}

/* visited link */
a:visited {
  color: rgb(126, 90, 154);
}

/* mouse over link */
a:hover {
  color: rgba(0, 183, 255, 0.57);
}

/* selected link */
a:active {
  color: blue;
}

[hidden] { display: none !important;}

.codeBox {
  font-size: 13px;
  background-color: rgba(37, 37, 37, 0.446);
  border: 1px;
  border-style: solid;
  border-color: white;
  padding: 5px;
}
.padding {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.noPadding {
  padding: 0px;
}
.center-card400 {
  min-width: 400px;
  width: 20%;
  display: block;
  margin: auto;
}
.center-card260 {
  min-width: 260px;
  width: 15%;
  display: block;
  margin: auto;
}
.center-card320 {
  min-width: 320px;
  width: 20%;
  display: block;
  margin: auto;
}
.NgxEditor__Wrapper {
  color: black;
}
.loader {
  margin: auto;
  margin-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  vertical-align: middle;
}

.page-container {
  display: flex;
}

.side {
  margin-left: 10px;
  height: 100px;
  width: 400px; /* A fixed width as the default */
}

.center-column {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.side + .side {
  margin-left: 2%;
}

.center-button {
  display: block;
  width: 100%;
  margin: auto !important;
}

.full-field {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cavernoftime-tt{visibility:hidden;z-index:100000000;overflow:visible!important}.cavernoftime-tt a{text-decoration:none}.cavernoftime-tt a:hover{text-decoration:underline}.cavernoftime-tt table{border-spacing:0;border-collapse:collapse;margin:0;width:auto;color:#fff}.cavernoftime-tt table,.cavernoftime-tt td,.cavernoftime-tt th,.cavernoftime-tt tbody{border:0!important}.cavernoftime-tt td table td table{width:100%}.cavernoftime-tt td,.cavernoftime-tt th{background:url(//cdn.cavernoftime.com/images/tooltip_bg.png);font-family:Verdana,sans-serif;font-size:11px;line-height:17px;color:#fff}.cavernoftime-tt th{height:auto;padding:3px;vertical-align:top}.cavernoftime-tt td{padding:8px 4px 1px 9px;text-align:left;vertical-align:top}.cavernoftime-tt b{font-size:13px;line-height:19px;font-weight:400}.cavernoftime-tt div.indent{padding-left:.6em}.cavernoftime-tt td th,.cavernoftime-tt td td{background:none}.cavernoftime-tt td th{padding:0 0 0 4em;text-align:right;font-weight:400}.cavernoftime-tt td td{padding:0;text-align:left}.cavernoftime-tt p{position:absolute;left:-44px;top:-1px;width:44px;height:44px;background:4px 4px no-repeat;margin:0;padding:0}.cavernoftime-tt p div{width:44px;height:44px;background-image:url(//cdn.cavernoftime.com/images/icon_border_medium.png)}.cavernoftime-tt table.shrink b{font-size:12px;line-height:15px}.cavernoftime-tt table.shrink td,.cavernoftime-tt table.shrink th{font-size:10px;line-height:14px}.cavernoftime-tt .mapper{margin:2px 0 3px 1px;border:none}.cavernoftime-tt ins{color:#5DF644;text-decoration:none;border-bottom:1px dotted}.cavernoftime-tt del{color:#FF8040;text-decoration:none;border-bottom:1px dotted}.cavernoftime-tt small{color:inherit!important}.moneyitem,.moneygold,.moneysilver,.moneycopper,.moneyalliance,.moneyhorde,.moneyarena,.moneyachievement,.moneysocketmeta,.moneysocketred,.moneysocketyellow,.moneysocketblue,.moneysocketprismatic{background:no-repeat right center;color:#fff}.moneyitem{padding-right:18px}.moneygold{padding-right:15px;background-image:url(//cdn.cavernoftime.com/images/money_gold.gif)}.moneysilver{padding-right:15px;background-image:url(//cdn.cavernoftime.com/images/money_silver.gif)}.moneycopper{padding-right:15px;background-image:url(//cdn.cavernoftime.com/images/money_copper.gif)}.moneyalliance{padding-right:12px;background-image:url(//cdn.cavernoftime.com/images/money_alliance.gif)}.moneyhorde{padding-right:17px;background-image:url(//cdn.cavernoftime.com/images/money_horde.gif)}.moneyarena{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/money_arena.gif)}.moneyachievement{padding-right:13px;background-image:url(//cdn.cavernoftime.com/images/money_achievement.gif)}.moneysocketmeta{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/socket-meta.gif)}.moneysocketred{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/socket-red.gif)}.moneysocketyellow{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/socket-yellow.gif)}.moneysocketblue{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/socket-blue.gif)}.moneysocketprismatic{padding-right:18px;background-image:url(//cdn.cavernoftime.com/images/socket-prismatic.gif)}a.moneyitem,a.moneysocketmeta,a.moneysocketred,a.moneysocketyellow,a.moneysocketblue,a.moneysocketprismatic,a.moneyachievement{text-decoration:none!important;border-bottom:1px solid transparent;color:#fff!important}a.moneyitem:hover,a.moneysocketmeta:hover,a.moneysocketred:hover,a.moneysocketyellow:hover,a.moneysocketblue:hover,a.moneysocketprismatic:hover,a.moneyachievement:hover{border-bottom:1px solid #fff}a span.moneyitem,a span.moneysocketmeta,a span.moneysocketred,a span.moneysocketyellow,a span.moneysocketblue,a span.moneysocketprismatic,a span.moneyachievement{color:#fff}.blizzard-blue{color:#00C0FF!important}.q,.q a,.color-q,.cavernoftime-tt .q a{color:#ffd100!important}.q0,.q0 a,.color-q0,.cavernoftime-tt .q0 a{color:#9d9d9d!important}.q1,.q1 a,.color-q1,.cavernoftime-tt .q1 a{color:#fff!important}.q2,.q2 a,.color-q2,.cavernoftime-tt .q2 a{color:#1eff00!important}.q3,.q3 a,.color-q3,.cavernoftime-tt .q3 a{color:#0070dd!important}.q4,.q4 a,.color-q4,.cavernoftime-tt .q4 a{color:#a335ee!important}.q5,.q5 a,.color-q5,.cavernoftime-tt .q5 a{color:#ff8000!important}.q6,.q6 a,.color-q6,.cavernoftime-tt .q6 a{color:#e5cc80!important}.q7,.q7 a,.color-q7,.cavernoftime-tt .q7 a{color:#e5cc80!important}.q8,.q8 a,.color-q8,.cavernoftime-tt .q8 a{color:#ffff98!important}.q9,.q9 a,.color-q9,.cavernoftime-tt .q9 a{color:#71d5ff!important}.q10,.q10 a,.color-q10,.cavernoftime-tt .q10 a{color:#ff4040!important}.r1{color:#FF8040!important}.r2{color:#FF0!important}.r3{color:#40BF40!important}.r4{color:gray!important}.c1,.c1 a{color:#C69B6D!important}.c2,.c2 a{color:#F48CBA!important}.c3,.c3 a{color:#AAD372!important}.c4,.c4 a{color:#FFF468!important}.c5,.c5 a{color:#FFF!important}.c6,.c6 a{color:#C41E3B!important}.c7,.c7 a{color:#2359FF!important}.c8,.c8 a{color:#68CCEF!important}.c9,.c9 a{color:#9382C9!important}.c10,.c10 a{color:#008467!important}.c11,.c11 a{color:#FF7C0A!important}.gem1{color:#9D9D9D!important}.gem2{color:#e60c0b!important}.gem4{color:#ffff35!important}.gem6{color:#f48905!important}.gem8{color:#295df1!important}.gem10{color:#b957fc!important}.gem12{color:#22c516!important}.gem14{color:#FFF!important}.s1{color:#ff3f40!important}.s2{color:#fffb9f!important}.s3{color:#ffb2eb!important}.s4{color:#ff8040!important}.socket-meta{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_meta.gif) no-repeat left center}.socket-red{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_red.gif) no-repeat left center}.socket-yellow{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_yellow.gif) no-repeat left center}.socket-blue{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_blue.gif) no-repeat left center}.socket-prismatic{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_prismatic.gif) no-repeat left center}.socket-hydraulic{padding-left:26px;background:url(//cdn.cavernoftime.com/images/socket_hydraulic.gif) no-repeat left center}.icontiny{background:left center no-repeat}.icontinyr{padding-right:18px!important;background:right center no-repeat}.icontinyl{padding-left:18px!important;background:left center no-repeat}a.icontiny{text-decoration:none}a.icontiny span{text-decoration:underline}span.icontiny,a.tinyspecial{padding-left:18px!important;background:left center no-repeat}.tr1 {color:#ff80ff;}.socket{padding-left:20px;}

.cavernoftime-tt {
  border: 1px solid #1e1e1e !important;
  background-color: #0f0f0f !important;
}
.cavernoftime-tt td, .cavernoftime-tt th {
  background: none !important;
  background: #0f0f0f !important;
}
.cavernoftime-tt p {
  background: none !important;
  background-color: #0f0f0f !important;
  left: -48px !important;
  height: 43px !important;
  width: 43px !important;
}
.cavernoftime-tt p div {
    background: none !important;
    background-color: #0f0f0f;
    height: 42px !important;
    width: 42px !important;
    border: 1px solid #1e1e1e !important;
}

.cavernoftime-tt td {
  padding: 2px 3px 0px 3px !important;
  text-align: left;
  vertical-align: top;
}

.cavernoftime-tt th {
  height: auto;
  padding: 2px !important;
  vertical-align: top;
}

.cavernoftime-tt table {
  min-width: 95px !important;
}
