.info-box-selected {
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    color:cornflowerblue;
}

.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: #c62828;
    color: #c62828;
}

.mat-step-header :hover {
    background-color: red;
}

.field-container {
    padding-bottom: 20px;
}
.greenLarge {
    color: #34b343;
    font-size: 150px;
    height: 150px ;
    width: 150px ;
    text-align: center;
}
.textCenterSuccess {
    font-size: 20px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}


::ng-deep .mat-horizontal-stepper-header {
    height: 42px !important;
    margin: 0px 5px 0px 5px !important;
    padding: 0px 5px 0px 5px !important;
}

::ng-deep .mat-stepper-horizontal-line {
    margin: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0px 24px 0px 24px !important;
}
