.results {
    height: 500px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 1px;
    margin-bottom: 180px;
}

table {
    width: 100%;
}

::ng-deep .mat-sort-header-sorted {
    text-decoration: solid;
}

th {
    font-size: 13px;
}

tr.mat-header-row {
    height: 45px;
}

.row-clickable {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 25px;
}

td.mat-cell {
    font-size: 12px;

}

/* td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
} */

.row-clickable:hover {
    background-color: #3f51b593;
}

.mat-column-name {
    width: 110px;
}

.mat-column-twos {
    width: 80px;
}

.mat-column-race, .mat-column-class, .mat-column-spec {
    width: 55px;
}

.table-container {
    height: 440px;
}

.float-left {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
